
<!-- list all the applications -->
<h1>Applications to be approved.</h1>
<%if (current_user.verified == "true") && ((current_user.user_type == "admin")||(current_user.user_type == "dev")||(current_user.user_type == "teacher"))%>
<table>
  <tr>
    <th>Applicant</th> <th>Course</th> <th colspan="3"></th>
    <% #@applications.each do |application|%>
    <% @applications.where(approved: "false").each do |application| %>
    <tr>
      <td><%= application.nameDotNumber %></td>
      <td><%= application.course %></td>
      <td><%= link_to "Show", app_path(application) %></td>
      <td><%= link_to "Edit", edit_app_path(application) %></td>
      <td><%= link_to "Destroy", application, method: :delete, data: { confirm:  'Are you sure?'}%></td>
      <td><%= button_to "Approve", "apps/approve?id=1", params: {:id => application.id} %></td>
    </tr>
  <% end %>
</table>
<% else %>
  <p> Not authorized to view this page</p>
<% end %>
<!-- the following line is commented in case it would be needed, though it should not be -->
<!-- <br/><%= link_to "New Application", new_app_path %> -->
