<h1> Enter Section Details </h1>

<%= form_for @section do |f| %>
  <div class="form-control">
    <%= f.label :classNumber %>
    <%= f.text_field :classNumber, required: true  %>
  </div>

  <div class="form-control">
    <%= f.label :courseID %>
    <%= f.number_field :courseID, required: true  %>
  </div>

  <div class="form-control">
    <%= f.label :meetingDays %>
    <%= f.text_field :meetingDays %>
  </div>

  <div class="form-control">
    <%= f.label :meetingTimes %>
    <%= f.text_field :meetingTimes %>
  </div>

  <div class="form-control">
    <%= f.label :waitlistTotal %>
    <%= f.number_field :waitlistTotal %>
  </div>

  <div class="form-control">
    <%= f.label :startDate %>
    <%= f.text_field :startDate %>
  </div>

  <div class="form-control">
    <%= f.label :endDate %>
    <%= f.text_field :endDate %>
  </div>

  <div class="form-control">
    <%= f.label :enrollmentStatus %>
    <%= f.text_field :enrollmentStatus %>
  </div>

  <div class="form-control">
    <%= f.label :instructionMode %>
    <%= f.text_field :instructionMode %>
  </div>

  <div class="form-control">
    <%= f.label :component %>
    <%= f.text_field :component %>
  </div>

  <div class="form-control">
    <%= f.label :section %>
    <%= f.text_field :section %>
  </div>

  <div class="form-control">
    <%= f.submit 'Enter Class'%>
  </div>
<% end %>