<!DOCTYPE html>
<html>
<%if (current_user.verified == "true") && ((current_user.user_type == "admin")||(current_user.user_type == "dev"))%>
  <head>
    <% t = User.find_by(:nameDotNumber => params[:nameDotNumber]) %>
      <h1><%="User: "+t.fname+" "+t.lname %></h1>
      </head>
      <body>
      <p>First Name: <%=t.fname %></p>
      <p>Last Name: <%=t.lname %></p>
      <p>Name dot number: <%=params[:nameDotNumber] %></p>
      <p>Year: <%=t.year %></p>
      <p>Verified: <%=t.verified %></p>
      <p>User Type: <%=t.user_type %></p>
      
    <% #end %>
    </body>
    <p>
      <%= button_to "Return", admin_graders_path, method: :get%>
      <% if params[:nameDotNumber]!="" %>
        <%= button_to "Edit", "/admin/graders/edit?nameDotNumber=", method: :get, params: {:nameDotNumber => params[:nameDotNumber]}%>
      <%end %>
    </p>

<% end %>
</html>
