<!DOCTYPE html>
<html>
<%if (current_user.verified == "true") && ((current_user.user_type == "admin")||(current_user.user_type == "dev"))%>
  <head>
    <% t = Section.find(params[:id]) %>
    <% f = Course.find_by(:id => t.courseID) %>

    <h1><%="Course: "+f.catalog_number+"\nSection: "+t.section %></h1>
  </head>

  <p>Section Number: <%=t.section %></p>
  <p>Class Name: <%=f.title %></p>
  <p>Class Number: <%=t.classNumber %></p>
  <p>Meeting Days: <%=t.meetingDays %></p>
  <p>Meeting Times: <%=t.meetingTimes %></p>
  <p>Waitlist: <%=t.waitlistTotal %></p>
  <p>Enrollment Status: <%=t.enrollmentStatus %></p>
  <p>Instruction Mode: <%=t.instructionMode %></p>
  <p>Component: <%=t.component %></p>
  <p>Start Date: <%=t.startDate %></p>
  <p>End Date: <%=t.endDate %></p>
  <p>Grader: <%= t.grader %></p>

  <% #end %>
  </body>
  <p>
    <%= button_to "Return", admin_graders_path,method: :get%>
    <% if params[:id]!="" %>
      <%= button_to "Edit", "/admin/graders/edit?id=", method: :get, params: {:id => params[:id]}%>
    <%end %>
  </p>

<% end %>
</html>
