<!DOCTYPE html>
<html>
<%if (current_user.verified == "true") && ((current_user.user_type == "admin")||(current_user.user_type == "dev"))%>
  <head>
    <% t = @Users %>
    <h1><%="Editing User: "+t.fname+" "+t.lname %></h1>
  </head>
  <body>
  <p>Year: <%=t.year %></p>
  <p>Verified: <%=t.verified %></p>
  <p>User Type: <%=t.user_type %></p>
<% end %>

<%= form_for @Users do |f| %>

  <div class="form-control">
    <%= f.label "First Name"%>
    <%= f.text_field  :fname, required: true, value: t.fname  %>
  </div>

  <div class="form-control">
    <%= f.label "Last Name"%>
    <%= f.text_field  :lname, required: true, value: t.lname  %>
  </div>

  <div class="form-control">
    <%= f.label "Name dot number"%>
    <%= f.text_field  :nameDotNumber, required: true, disabled: true, value: t.nameDotNumber  %>
  </div>

  <div class="form-control">
    <%= f.label "Year"%>
    <%= f.text_field  :year, required: true, value: t.year  %>
  </div>

  <%= f.label "Verified"%>
  <% if (t.verified=="true") %>

    <%= check_box_tag "Verified", 1, {:checked => "checked"}  %>
  <% else %>
    <%= check_box_tag "Verified", 0  %>
  <% end %>
  <br>

  <div class="form-control">
    <%= f.label "User Type"%>
    <%= f.text_field  "User Type", required: true, value: t.user_type  %>
  </div>

  <div class="form-control">
    <%#= hidden_field_tag(:year_new, params[:users][:year])%>
    <%= hidden_field_tag(:nameNum, params[:nameDotNumber]) %>
    <%= f.submit 'Update Entry'%>
  </div>
<% end %>

</body>

<%= button_to "Return", "/admin/users/show?nameDotNumber=", method: :get, params: {:nameDotNumber => params[:nameDotNumber]}%>

</html>
