<!DOCTYPE html>
<html>
<%if (current_user.verified == "true") && ((current_user.user_type == "admin")||(current_user.user_type == "dev"))%>
<head>
<% @edit_users.where(nameDotNumber: params[:nameDotNumber]).each do |t| %>
  <h1><%="Editing User: "+t.fname+" "+t.lname %></h1>
    </head>
    <body>
    <p>Year: <%=t.year %></p>
    <p>Verified: <%=t.verified %></p>
    <p>User Type: <%=t.user_type %></p>



<% end %>
  </body>
<!--% Scrape.set_chosen_course(params[:key])  %-->

  <%= button_to "Return", admin_users_path, method: :get%>
<% end %>
  </html>
