<!-- partial for generating a form (since this snippet is duplicated in new.html.erb and edit.html.erb) -->
<%= form_for @recommendation do |f| %>

<div class  ="nameDotNumber">
  <%= f.label :nameDotNumber %>
  <%= f.text_field :nameDotNumber %>
</div>

<div class = "course">
  <%= f.label :course %>
  <%= f.text_field :course %>
</div>




<%= f.submit "Submit" %>

<% end %>