<!-- list all the applications -->
<h1>Recommendations</h1>

<table>
  <tr>
    <th>Recommendation</th> <th>Student</th> <th colspan="3"></th>
    <% @recommendations.each do |recommendation|%>
    <tr>
      <td><%= recommendation.student %></td>
      <td><%= recommendation.course %></td>
      <td><%= link_to "Show", recommendation_path(recommendation) %></td>
      <td><%= link_to "Edit", edit_recommendation_path(recommendation) %></td>
      <td><%= link_to "Destroy", recommendation, method: :delete { confirm: "Are you sure?"}%></td>
    </tr>
  <% end %>
</table>

<!-- the following line is commented in case it would be needed, though it should not be -->
<!-- <br/><%= link_to "New Recommendation", new_recommendation_path %> -->
