<!-- GET and show one application -->
<h1>Recommendation Detail</h1>

<table>
  <tr>
    <th>Student</th> <td><%= @recommendation.student %></td>
  </tr>
  <tr>
    <th>Email</th> <td><%= @application.course %></td>
  </tr>
  <tr>
    <th>Course</th> <td><%= @application.section %></td>
  </tr>

  <tr>
    <th>Recommendations</th> <td><%= link_to "Recommendations Profile", instructor_path(@application.owner) %></td>
    <!-- the code of the link should resolve to student_path(:id), where :id is the :id of a student -->
    <!-- link to /students/:id  -->
  </tr>
</table>

<br/>
<!-- navigation bar, two options: editing the application, the previous page -->
<nav>
  <%= link_to "Edit", edit_application_path(@recommendation) %>
  <%= lin_to "Back", :back %>
</nav>