
<!DOCTYPE html>
<html>
  <head>
    <title>Student Profile</title>
    <meta charset="utf-8"/>
    <link type="text/css" rel="stylesheet" href="display_profile.css"/>
  </head>

  <body>
    <h1 id=header>Student Profile</h1>

    <!-- app/controllers/student.rb is a class, and @student is an instance variable for this class. The class has methods (i.e. action) to access the student object's attributes such as fname, lname, osu_id, year, etc.  -->
    <div class="information">
      <% case @user.identity %> <!-- check user identity and display information accordingly  -->
      <% when 0 %>  <!-- 0 for student identity -->
        <div id="name"><p><%= @user.fname%> <%= @student.lname%></p></div>
        <div id="OSU-ID"><p><%= @user.osu_id%></p></div>
        <div id="year"><p><%= @user.year%></p></div>
      <% when 1 %>  <!-- 1 for instructor identity -->
        <div id="name"><p><%= @user.fname%> <%= @student.lname%></p></div>
      <% when 2 %>  <!-- 2 for administrator identity -->
        <div id="name"><p><%= @user.fname%> <%= @student.lname%></p></div>
      <% end %>
    </div>

  </body>

</html>
