<html>
<head>
  <title>
    Users to be Verified
  </title>
  <meta charset="utf-8"/>
  <link type="text/css" rel="stylesheet" href="/admin/verify.css"/>
</head>
<body>
<h1>Admin Verification Page</h1>
<p>These are all user that need to be verified</p>
<%if (current_user.verified == "true") && (current_user.user_type == "admin") %>
<div id=to_be_verified>
  <table >
    <thead>
    <tr>
      <th>User</th>
      <th>Name dot number</th>
      <th>User type</th>
      <th>Verify?</th>
    </tr>
    </thead>
    <tbody>
    <% User.where(verified: "false").each do |t| %>
      <td>
        <td><%= t.fname %> <%= t.lname %></td>
        <td><%= t.nameDotNumber %></td>
        <td><%= t.user_type %></td>

        <td><%= button_to "Verify", "user/"+t.nameDotNumber, method: :get %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<%end %>
</body>
</html>
