<h1><%= "#{@course.subject} #{@course.catalog_number}" %></h1>

<div class="section">
  <div class="container">
    <p class="details"><%= "Title : #{@course.title}" %></p>
    <p class="details"><%= "Term : #{@course.term}" %></p>
    <p class="details"><%= "Units : #{@course.units}" %></p>
    <p class="details"><%= "Campus : #{@course.campus}" %></p>
  </div>
</div>

<h2 class="break"> ========== </h2>
<%= button_to "Delete Course", @course, :method => :delete, data: {confirm: "===WARNING===\n!!! ATTEMPTING TO DELETE COURSE"} %>
<h2><%= button_to "Scrape Sections Online", "#{scrape_url[0, scrape_url.length() - 2]}", method: :get, params: { :campus_value => @course.campus.downcase(), :term_value => @course.term.tr("0-9 ", "").downcase(), :search => @course.catalog_number, :courseID => scrape_url[scrape_url.rindex('/') + 1, scrape_url.length()] } %></h2>
<h2> Sections for this Course</h2>
<h2 class="break"> ========== </h2>

<% @sections.each do |section| %>
  <% Scrape.get_database_section_keys.each do |k| %>
    <%= "#{k} : #{section[k]}" %>
    <br>
  <% end %>
  <%= link_to "See Section Page", "#{sections_url}/#{Section.select("ROWID").where(" classNumber = ?", section['classNumber'])[0]['id']}" %>
  <h2 class="break"> ========== </h2>
<% end %>