<h1><%= "#{@course.subject} #{@course.catalog_number}" %></h1>

<div class="section">
  <div class="container">
    <p class="details"><%= "Title : #{@course.title}" %></p>
    <p class="details"><%= "Term : #{@course.term}" %></p>
    <p class="details"><%= "Units : #{@course.units}" %></p>
    <p class="details"><%= "Campus : #{@course.campus}" %></p>
  </div>
</div>

<h2 class="break"> ========== </h2>
<h2> Sections for this Course</h2>
<h2 class="break"> ========== </h2>

<% @sections.each do |section| %>
  <% Scrape.get_database_section_keys.each do |k| %>
    <%= "#{k} : #{section[k]}" %>
    <br>
<%end %>
  <h2 class="break"> ========== </h2>
<% end %>